# python files
*.pyc
*.whl

# datafiles
*.wav
*.mp3
*.flac

# other files
*.log
*.bak
out.txt

# directories
**/__pycache__/
**/.venv/
.cache/
.vscode/

imgs/
**/data/
!nlu/data/
**/models/
!hotword/models/fiona-rpi/
!nlu/models

.env




