-r asr/requirements.txt
-r hotword/requirements.txt
APScheduler==3.5.1
coloredlogs
Flask==2.0.2
Flask_RESTful==0.3.6
funcy>=1.16
halo>=0.0.31
nest-asyncio~=1.5.5
pika==1.2.0
playsound>=1.3.0
PyYAML>=6.0
rich>=10.14.0
tqdm>=4.62.3
